location                = "australiaeast"
env_name                = "hol"
resource_group_name     = "rg-foundry-hol"
attendee_count          = 20
attendee_project_prefix = "attendee"
attendee_access_profile = "project-user"
attendee_object_ids     = []
attendee_user_principal_names = []
foundry_name            = "foundryhol001"
foundry_sku             = "S0"
search_name             = "foundryholsearch001"
storage_account_name    = "foundryholstorage01"
